extends ../plantillas/plantilla-principal

block title
    -var proyecto = {nombre: 'nombre', seccion: 'seccion'}
    title #{proyecto.nombre} | #{proyecto.seccion}

block description
    meta(name='description', content='Descripción de la página')
block content
    main
        h1  titulo pagina jadev4
        p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia quidem rem voluptate sed, neque quas delectus aliquid dolor, odit porro, obcaecati alias sapiente repellendus, nemo aspernatur assumenda possimus exercitationem odio. Quam porro, aspernatur labore tenetur laudantium adipisci, fuga consequatur sequi unde nam repellendus expedita enim non quos natus consectetur et perspiciatis quis laborum placeat nemo fugit aperiam. Voluptate alias ratione, nemo tenetur nesciunt commodi pariatur, at, recusandae dolore debitis labore dolores enim fugit laboriosam libero hic cupiditate et culpa corporis ipsam placeat sapiente! Placeat aperiam, ut mollitia ipsa possimus magni quod quae. Doloremque at excepturi ad explicabo quos ut asperiores corrupti magni aliquam cum rem id vitae officiis, tempore placeat sapiente quaerat culpa laborum! Et dolor, laborum ipsam? Necessitatibus velit perspiciatis dolorem dicta nulla et sunt magni dolorum enim, eligendi voluptate consequuntur nihil, autem reprehenderit, accusamus rem! Numquam esse, tempora officia similique vero vel dolore nisi dignissimos reiciendis illum quia voluptates ea corrupti nemo veniam repellat tenetur in error. Officia tempore doloremque voluptatum. Harum quisquam sequi repellat blanditiis sed, voluptate vel, illum aliquam nemo architecto corrupti. Ipsa, qui deleniti voluptatibus. Tempora nam vero aliquid neque dolore aperiam commodi, repudiandae blanditiis natus modi, laborum debitis numquam distinctio quidem sint sunt aut.